<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['/']">ICON</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

      <li class="nav-item">
        <a class="nav-link" routerLink="/ticket" routerLinkActive="active-link">ticket</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/ticket/ticketlist" routerLinkActive="active-link">ticketList</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/ticket/tickettransfer" routerLinkActive="active-link">transfer</a>
      </li>
    </ul>
    <span class="navbar-text">
      <p class="text-light">{{this.Status}}{{this.WalletAddress}}
        <button type="button" *ngIf="this.WalletAddress==''" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
          連結錢包
        </button>
      </p>
    </span>

  </div>
</nav>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">確認</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        確認連結錢包
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="ConnectWallet()">連結錢包</button>   

      </div>
    </div>
  </div>
</div>

<router-outlet>

</router-outlet>