<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <a [routerLink]="['/ticket/buy', 0]" title="超連結">
            <img class="img-fluid" src="./assets/A.png">
        </a>
        <div class="card-body">
          <h2 class="card-title">Zone_A</h2>

        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <a [routerLink]="['/ticket/buy', 1]" title="超連結">
            <img class="img-fluid" src="./assets/B.png">
        </a>
        <div class="card-body">
          <h2 class="card-title">Zone_B</h2>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">

        <a [routerLink]="['/ticket/buy', 2]" title="超連結">
            <img class="img-fluid" src="./assets/C.png">
        </a>
        <div class="card-body">
          <h2 class="card-title">Zone_C</h2>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <a [routerLink]="['/ticket/buy', 3]" title="超連結">
            <img class="img-fluid" src="./assets/D.png">
        </a>
        <div class="card-body">
          <h2 class="card-title">Zone_D</h2>
        </div>
      </div>
    </div>
  </div>